<% layout("/layouts/boilerplate.ejs") %>

    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h1>Edit Product</h1>
        <a href="/store" class="btn btn-warning">Back</a>
        </div>
        <form action="/store/<%= store._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <!-- College Selection -->
            <div class="form-group">
                <label for="college">Select College</label>

                <select id="college" name="college" class="form-control" required>

                    <option value="">Select College</option>
                    <% colleges.forEach(college=> { %>
                        <option value="<%= college._id %>" <%=store.college._id.toString()===college._id.toString()
                            ? 'selected' : '' %>>
                            <%= college.name %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <!-- Product Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" value="<%= store.name %>" required>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control"
                    required><%= store.description %></textarea>
            </div>

            <!-- Previous Image -->
            <div class="mb-3">
                Previous Image <br>
                <img src="<%= previousImageUrl %>" alt="product_image">
            </div>

            <!-- New Image -->
            <div class="form-group">
                <label for="image">Image ( Max 2 Mb )</label>
                <input type="file" id="image" name="image" class="form-control">
            </div>

            <!-- Price -->
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" class="form-control" value="<%= store.price %>" required>
            </div>

            <!-- WhatsApp Number -->
            <div class="form-group">
                <label for="whatsapp">WhatsApp Number</label>
                <input type="text" id="whatsapp" name="whatsapp" class="form-control" value="<%= store.whatsapp %>">
            </div>

            <!-- Telegram Username -->
            <div class="form-group">
                <label for="telegram">Telegram Username</label>
                <input type="text" id="telegram" name="telegram" class="form-control" value="<%= store.telegram %>">
            </div>

            <!-- Available -->
            <div class="form-group">
                <label for="available">Available</label>
                <select class="form-control" id="available" name="available" required>
                    <option value="true" <%=store.available ? 'selected' : '' %>>Yes</option>
                    <option value="false" <%=!store.available ? 'selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Status -->
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="true" <%=store.status ? 'selected' : '' %>>Active</option>
                    <option value="false" <%=!store.status ? 'selected' : '' %>>Inactive</option>
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Update Product</button>
        </form>
    </div>