<% layout('/layouts/boilerplate.ejs') %>
    <div class="container">
        <h3 class="m-4 text-center">All Community Posts</h3>
        <div class="row">
            <% allPost.forEach(post=> { %>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width: 500px;">
                                <%= post.content %>
                            </h5>
                            <p class="card-text"><strong>Author:</strong>
                                <%= post.author.username %>
                            </p>
                            <p class="card-text d-none d-md-block"><strong>College:</strong>
                                <%= post.college.name %>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/community/<%= post._id %>" class="btn btn-success btn-sm">View</a>
                            <form action="/community/<%= post._id %>?_method=DELETE" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>

        <% if (allPost.length===0) { %>
            <div class="col-12">
                <p class="text-center">No community posts available at the moment.</p>
            </div>
            <% } %>
    </div>