<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colllege</title>
</head>

<body>
    <h3>College Detail</h3>
    <ul>
        <li>
            Name: <%= college.name %>
        </li>
        <li>
            Description: <%= college.description %>
        </li>
        <li>
            Location: <%= college.location %>
        </li>
        <li>
            Status: <%= college.status %>
        </li>
    </ul>
    <br>
    <a href="/colleges/<%= college._id %>/edit">Edit</a><br><br>
    <form action="/colleges/<%= college._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

</html>