<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container my-5">
            <h3 class="mb-4 text-center">College Detail</h3>

            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <strong>Added by :</strong>
                    <%=college.client ? college.client.username : college.owner.username %>
                </li>
                <li class="list-group-item">
                    <strong>Name:</strong>
                    <%= college.name %>
                </li>
                <li class="list-group-item">
                    <strong>Description:</strong>
                    <%= college.description %>
                </li>
                <li class="list-group-item">
                    <strong>Location:</strong>
                    <%= college.location %>
                </li>
                <li class="list-group-item">
                    <strong>Status:</strong>
                    <%= college.status %>
                </li>
            </ul>
            <% if(currUser && currUser._id.equals(college.owner._id)) { %>
                <div class="d-flex justify-content-between">
                    <a href="/colleges/<%= college._id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/colleges/<%= college._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>
    </body>