<%- layout("layouts/boilerplate.ejs") %>

    <body>
        <div class="container mt-4">
            <div class="row">
                <!-- Card for All Colleges -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">All Colleges</h5>
                            <p>Total: <%= totalColleges %>
                            </p>
                            <a href="/colleges" class="btn btn-primary">View Colleges</a>
                        </div>
                    </div>
                </div>

                <!-- Card for All PYQs -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">All PYQs</h5>
                            <p>Total: <%= totalPYQs %>
                            </p>
                            <a href="/pyqs" class="btn btn-primary">View PYQs</a>
                        </div>
                    </div>
                </div>

                <!-- Card for Notes -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Notes</h5>
                            <p>Total: <%= totalNotes %>
                            </p>
                            <a href="/notes" class="btn btn-primary">View Notes</a>
                        </div>
                    </div>
                </div>

                <!-- Card for Groups -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Groups</h5>
                            <p>Total Groups: <%= totalGroups %>
                            </p>
                            <a href="/whatsappgroup" class="btn btn-primary">View Groups</a>
                        </div>
                    </div>
                </div>

                <!-- Card for Seniors -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Seniors</h5>
                            <p>Total senior: <%= totalSeniors %>
                            </p>
                            <a href="/seniors" class="btn btn-primary">View Seniors</a>
                        </div>
                    </div>
                </div>

                <!-- Card for Communities -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Communities</h5>
                            <p>Total community: 0</p>
                            <a href="/communities" class="btn btn-primary">View Communities</a>
                        </div>
                    </div>
                </div>

                <!-- Card for Store -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Store</h5>
                            <p>Total Produts: <%= totalProduct %>
                            </p>
                            <a href="/store" class="btn btn-primary">View Store</a>
                        </div>
                    </div>
                </div>

                <!-- card for users -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Admin</h5>
                            <p>Total Admins: <%= totalUsers %>
                            </p>
                            <a href="/user" class="btn btn-primary">View All Admin</a>
                        </div>
                    </div>
                </div>
                <!-- card for Client -->
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Users</h5>
                            <p>Total User: <%= totalClients %>
                            </p>
                            <a href="/client" class="btn btn-primary">View All Users </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>