hello<% layout('/layouts/boilerplate.ejs') %>

    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h1>Edit Opportunity</h1>
            <a href="javascript:history.back()" class="btn btn-warning">Back</a>

        </div>
        <form action="/opportunity/giveopportunities/<%= giveopportunity._id %>?_method=PUT" method="POST">
            <!-- Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" value="<%= giveopportunity.name %>"
                    required>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description"
                    class="form-control"><%= giveopportunity.description %></textarea>
            </div>

            <!-- College -->
            <div class="form-group">
                <label for="college">Select College</label>

                <select id="college" name="college" class="form-control" required>

                    <option value="">Select College</option>
                    <% colleges.forEach(college=> { %>
                        <option value="<%= college._id %>"
                            <%=giveopportunity.college._id.toString()===college._id.toString() ? 'selected' : '' %>>
                            <%= college.name %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <!-- Status -->
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="true" <%=giveopportunity.status ? 'selected' : '' %>>Active</option>
                    <option value="false" <%=!giveopportunity.status ? 'selected' : '' %>>Inactive</option>
                </select>
            </div>

            <!-- WhatsApp Number -->
            <div class="form-group">
                <label for="whatsapp">WhatsApp Number</label>
                <input type="text" id="whatsapp" name="whatsapp" class="form-control"
                    value="<%= giveopportunity.whatsapp %>" required>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" value="<%= giveopportunity.email %>"
                    required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success mt-3">Update Opportunity</button>
        </form>
    </div>